<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/inheritance/Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	
	<section style="background-color: teal;">
		<h2> This is thmyeleaf project to demonstrate the inheriance of template </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nulla dicta earum quo dolores recusandae rem fugit aut ad ullam corporis non accusantium odio eos maxime ipsum ipsam perspiciatis repellendus! Tempora voluptatibus eum ullam dolores nisi harum esse distinctio eligendi adipisci magni dicta doloremque expedita id ipsum corrupti asperiores totam.</p>	
	</section>
</body>
</html>