<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="/inheritance/Base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Service</title>
</head>
<body>
	<section style="background-color:yellow;">
		<h2>This is Service Section</h2>		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere reprehenderit qui consectetur iusto culpa architecto! Facere sed repellendus aliquam suscipit libero optio autem assumenda quis veniam enim non sunt tempore perspiciatis voluptas culpa dolor voluptatum. Maxime voluptate molestias distinctio illum.</p>
	</section>
</body>
</html>