<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>login</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div>
		<div class="container">
			<h1 style="text-decoration: underline; margin: 50">Welcome to
				Thymelaef login page</h1>
			<div class="row m-5">
				<div class="col-md-6 offset-md-3">
				
					<form th:action="@{/dashboard}" method="post" th:object="${userCredentials}">
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							 <input type="text" name="username" 
							 		class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" 
									placeholder="Enter email" 
									th:classappend="${#fields.hasErrors('username') ? 'is-invalid':''}"
									th:value="${userCredentials.username}">
							
							<!--   <p th:each="e : ${#fields.errors('username')}"  th:text="${e}"></p>  -->
							
							<div th:each="e: ${#fields.errors('username')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"></div>
								
							<small id="emailHelp" class="form-text text-muted">We'll
								never share your email with anyone else.</small> 
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> 
							<input type="password" 
							       class="form-control" name="password" id="exampleInputPassword1"
							       th:classappend="${#fields.hasErrors} ? 'is-invalid':''"
								placeholder="Password" th:value="${userCredentials.password}">
								
						<div th:each="e: ${#fields.errors('password')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"></div>		
							
						</div>
						<div class="form-group form-check">
							<input name="isCheck" type="checkbox" class="form-check-input" 								   
								th:classappend="${#fields.hasErrors} ? 'is-invalid':''"	
								id="exampleCheck1"> 
								<label class="form-check-label"								
								for="exampleCheck1">Check me out</label>
								
								<div th:each="e: ${#fields.errors('isCheck')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"></div>
						</div>
						
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>